In [114]:
import pandas as pd

In [115]:
data = {'Names': ['A', 'B', 'C'], 'Height': [167, 190, 132], 'IsAdult': [True, False, True]}

my_data_frame = pd.DataFrame(data)

In [116]:
#getting columns

my_data_frame['Height']

#get elements in list

my_data_frame['Height'].tolist()

[167, 190, 132]

In [117]:
#getting rows 

#my_data_frame.loc[[1, 2]]
#my_data_frame.loc1.tolist()
my_data_frame.loc[1].tolist()

['B', 190, False]

In [118]:
#my_data_frame.index = [7, 7, 7]
my_data_frame.iloc[[0, 1]]

  Names  Height  IsAdult
0     A     167     True
1     B     190    False

In [119]:
for index, row in my_data_frame.iterrows():
    print("Index is", index)
    print("Row is", row.tolist())

Index is 0
Row is ['A', 167, True]
Index is 1
Row is ['B', 190, False]
Index is 2
Row is ['C', 132, True]

In [120]:
for i, r in my_data_frame.iterrows():
    my_data_frame.at[i, 'Height'] /= 100

In [121]:
my_data_frame

  Names  Height  IsAdult
0     A    1.67     True
1     B    1.90    False
2     C    1.32     True