### 1
Write and subsequently use a lambda expression that takes some number of strings and uses an f-string to put them in a message.

In [32]:
# Your code here
x="test"
(lambda x: print(f"{x} project")) (x)

test project

### 2

Use each of the following at least once in the following task:

   1. a list comprehension
   2. a `for` loop looping over multiple variables. The `for` loop should also use `enumerate`.
   3. a `set`
   4. an `f`-string
   5. a lambda expression

The task:
 - **Read in `birthdays.csv`. Write a script (with the given requirements) that outputs the text below**
 - Hint: You can split a string on a separator using `"string".split("sep")`
 - Hint: to sort a list of lists by multiple fields (elements), you can use `list.sort(key = fn)` where `fn` is a function that accepts a list and returns a tuple. The returned tuple should be a sequence of fields in the order the fields should be sorted.


```plain
Birthdays sorted by year, then month, then date (repeats filtered out):
-----------------------------------------------------------------------

1. Athena's birthday is on 21/4/2000
2. Flo's birthday is on 31/7/1984
3. Diane's birthday is on 12/3/1966
4. Ben's birthday is on 23/4/2007
5. Edgar's birthday is on 6/10/1997
6. Christian's birthday is on 12/9/1962
```

In [33]:
# Your code here
import csv
with open("birthdays.csv") as f:
    data = list(csv.reader(f,delimiter=','))
# using sets of tuples 
data = data[1:]
data_tuples = [tuple(d) for d in data]
result1 = set(data_tuples)
result2 = list(result1)
result2.sort(key = lambda tup: (tup[3], tup[2], tup[1]))
for i in range (len(result2)):
    print(f"{i+1}. {result2[i][0]}'s birthday is on {result2[i][1]}/{result2[i][2]}/{result2[i][3]}")

# 
# result = [element for i, element in enumerate(data) if element not in data[:i]]
# for i in range (1, len(result)):
#     print(f"{result[i][0]} 's birthday is on {result[i][1]}/{result[i][2]}/{result[i][3]}")

1. Christian's birthday is on 12/9/1962
2. Diane's birthday is on 12/3/1966
3. Flo's birthday is on 31/7/1984
4. Edgar's birthday is on 6/10/1997
5. Athena's birthday is on 21/4/2000
6. Ben's birthday is on 23/4/2007

### 3

Complete the same task to exercise 2, but use the `pandas` library instead. Additionally, incorporate the following changes:

1. Subset the list to birthdays with the following conditions: they occur before Jan 1, 2000 and they are in the second half of the year.
2. Rather than manually printing a table output, make a new table so the output looks like the table below.
3. Use each of the following items at least once:
   1. a list/set/dict comprehension
   2. an `f`-string
   3. a lambda expression

Finally, make sure you adhere to the following (new) requirements and suggestions:
1. In general, use `pandas` to read in the data and process the data table to completion.
2. In particular, make sure to use `pandas` [`pandas.to_datetime`](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html) to obtain [`pandas.Timestamp`](https://pandas.pydata.org/docs/reference/api/pandas.Timestamp.html) objects. This will make sorting easy. Do not manually implement a sorting function. Also do not implement a custom scheme to convert numerical dates to strings. Use [`strftime`](https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.strftime.html) instead.
3. Use `your_table.equals(answer_table)` to ensure you have exactly recreated the correct answer.

In [34]:
# This is the exact table your table should equal.
import pandas, copy
answer_table = pandas.read_pickle("./ex_3_ans.pkl") # Read in saved binary data file
answer_table

        Name                       Birthday
3  Christian  Wednesday, September 12, 1962
6        Flo         Tuesday, July 31, 1984
5      Edgar       Monday, October 06, 1997

In [35]:
# Your output, like a deep copy of `answer_table`, should not be the same memory address as `answer_table`. 
# However, all of its rows, columns, and elements should be the same.

answer_table_2 = copy.deepcopy(answer_table)
print("Is `answer_table_2` the same object in memory as `answer_table`?", answer_table is answer_table_2)
print("Does `answer_table_2` have the same content as `answer_table`?", answer_table.equals(answer_table_2))

Is `answer_table_2` the same object in memory as `answer_table`? False
Does `answer_table_2` have the same content as `answer_table`? True

In [37]:
# Your code here
import pandas as pd, copy
birthdays = pandas.read_csv("birthdays.csv")
m, d, y = birthdays['BirthMonth'].values, birthdays['BirthDate'].values, birthdays['BirthYear'].values
birthdays["Birthday"] = pd.to_datetime([f"{mm}/{dd}/{yy}" for mm, dd, yy in zip(m, d, y)], format="%m/%d/%Y")
birthdays.drop_duplicates()

        Name  BirthDate  BirthMonth  BirthYear   Birthday
0     Athena         21           4       2000 2000-04-21
1        Ben         23           4       2007 2007-04-23
3  Christian         12           9       1962 1962-09-12
4      Diane         12           3       1966 1966-03-12
7      Edgar          6          10       1997 1997-10-06
8        Flo         31           7       1984 1984-07-31